.footer {
    border-top: 1px solid rgba(221, 222, 255, 0.2);
    display: flex;
    flex-direction: column;    
    gap: 40px;
    padding: 40px;

}
.footer__top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.footer__top__links {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer__top__links__button {
    border: 1px solid #444445;
    border-radius: 50px;
    background: transparent;
    color: #E9E5FF;
    padding: 12px 16px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}
.footer__top__up__light {
    width: 400px;
    left: -500%;
    top: 0;
}
.footer__middle {
    display: flex;
    justify-content: center;
    gap: 100px;
}
.footer__middle__nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    gap: 20px;
}
.footer__middle__nav__title {
    color: #FFB68D;
    display: flex;
    gap: 20px;
    text-decoration: underline;
    cursor: pointer;
}
.footer__middle__nav__item {
    color: #bfbbd5;
    font-size: 15px;
    cursor: pointer;
}
.footer__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer__logotype {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__logotype__text {
    text-align: center;
    justify-content: center;
    align-items: center;
}
.footer__bottom__privacy-policy {
    color: #C8C3E0;
    font-size: 13px;
}
@media (max-width: 650px) { 
    .footer__top {
        align-items: center;
        justify-content: space-around
    }
    .footer__middle {
        align-items: start;
        justify-content: center;
    }
    .footer__bottom {
        align-items: center;
    }
}
@media (max-width: 500px) { 
    .footer__top {
        justify-content: space-between;
        gap: 20px;
        align-items: start;
    }
    .footer__top__links {
        align-items: start;
        justify-content: start;
        flex-wrap: wrap;
    }
    .footer__middle {
        flex-direction: column;
        align-items: start;
        text-align: start;
        gap: 40px;
    }
    .footer__middle__nav__title {
        gap: 10px;
    }
    .footer__bottom {
        align-items: start;
    }
    .footer__logotype {
        flex-direction: row;
        justify-content: start;
        align-items: start;
    }
    .footer__logotype__text {
        text-align: left;
        justify-content: start;
        align-items: start;
    }
}